<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Storystrap Template</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
  <style>
    body {
      background-image: url('https://thumbs.dreamstime.com/z/books-copy-space-text-here-wooden-deck-table-library-background-127884489.jpg');
    }
    </style>

	<body   style="background-color:lightblue ;">
<header style="background-color:rgba(165, 116, 42, 0.637);;" class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a href="/" class="navbar-brand">Home</a> -->
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <!-- <li>
          <a href="#">About</a>
        </li> -->
       
      </ul>
      <div class="nav navbar-right navbar-nav">
        <button  style="background-color:rgba(165, 116, 42, 0.637);margin-top: 10px; "><a href="/register">Register</a></button>
        <button  style="background-color:rgba(165, 116, 42, 0.637);margin-top: 10px; "><a href="/login">Login</a></button>

      </div>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"> Register</i></a> -->
          <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"> Login</i></a> -->
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <!-- <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search"> -->
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>




	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>